@tailwind base;
@tailwind components;
@tailwind utilities;

.c-hero__headline {
  background: linear-gradient(90deg, #2c73ff 0%, #d680ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
